body {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

#main {
    width: 50vw;
    height: 50vh;
    padding: 30px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 15px;
    align-items: center;   /* horizontal centering */
    justify-content: center; /* vertical centering */
    gap: 10px;  /* space between items */
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px; /* optional but looks better */
}

#submit {
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.toconvert{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#input{
    height: 30px;
    width: 160px;
    border: solid;
    border-radius:10px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}
